.font{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(114, 136, 227);
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 4px;

}
.font1{
    margin-right: 50px;
}